@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    developer:sanad<br />
    <abbr title="Phone">P:</abbr>
    01212058735
</address>

<address>
    <strong>Support:</strong>   <a href="sanadbareen@gmail.com">sanadbareen@gmail.com</a><br />
    <strong>linkedin:</strong> <a href="https://www.linkedin.com/in/sanad-ashraf-a042241b9">linkedin.com</a>
</address>